<h2>This is bike BlackRock.  Welcome!</h2>
<h3>Your one stop shop for bycicles in Black Rock.</h3>

<!--<p>Welcome! The date and time <%= Time.now%></p>-->

<%= image_tag("super-cool-bike.jpg", class: "img-responsive") %>