// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Varela Round', Helvetica, sans-serif;
$primary-color: #bcd4e6;
$secondary-color: #e6cebc;
$text-color: #000;


body {
	font: 100% $font-stack;
	color: #000;
}

.main-footer {
	font-size: 1.25em;
	text-align: center;
}

.navbar-default {
	background-color: white;
	font: 100% $font-stack;
	border-color: white;
	font-size: 1.25em;
	letter-spacing: .125em;
	color: $text-color;
}

.navbar-default .navbar-nav > li > a {
	color: $text-color;
	text-transform: uppercase;
}

.wrapper {
	padding: 0 15px;
}